.about {
    padding: 50px;
}

.aboutContainer {
    width: 800px;
    margin: auto;
    padding: 15px;
    background-color: rgb(1, 1, 15);
    opacity: 0.8;
}

.aboutHeader {
    text-align: center;
    font-family: sans-serif;
    color: wheat;
}

.aboutSubHeader {
    font-family: sans-serif;
    color: wheat;
}

.aboutTextBlock {
    text-align: center;
    line-height: 3;
}

.aboutText {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.textSpan {
    color: #0d1eda;
}